name: GolangCI Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.20

      - name: Run GolangCI-Lint
        run: |
          golangci-lint run --timeout=5m --modules-download-mode=readonly \
            --enable=govet,errcheck,staticcheck,unused,gosimple,ineffassign,typecheck,bodyclose,gosec,gofmt,gocyclo,gofumpt \
            --issues-exclude-use-default=false \
            --max-issues-per-linter=0 \
            --max-same-issues=0 \
            --config=.golangci.yml